/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'mdb-angular-file-upload/scss/file-upload.scss';

.breadcrumb {
  margin-bottom: 0 !important;
}
.navbar .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  color: $gray-600;
}
.breadcrumb .spinner-grow {
  width: 32px;
  height: 20px;
  margin-top: 2px;
}

mdb-error {
  top: 33px !important;
}
