$primary-color: #50ac54; // theme primary color, change this value to customize theme
$secondary-color: #996691; // theme secondary color, change this value to customize theme

$primary-color-focus: rgba(80, 172, 84, 0.1);

